# Files containing auth information for github api 
*.config

# Folders containing many json files representing downloaded repositories
/src/collection/web/json_*/*
/src/collection/data/json_*/*
/src/collection/dev/json_*/*
/src/collection/docs/json_*/*
/src/collection/edu/json_*/*
/src/collection/hw/json_*/*
/src/collection/other/json_*/*
/src/exploration/additional/json_*/*

# Byte-Compiled
*.pyc
